#page {
    
    text-align: center;
    background-color: lightblue;
 }

 div {
    width: 800px;
    border: 10px solid black;
    padding: 200px;
    margin: 20px;
  }
  
  h1 {
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        margin-bottom: 8px;
        margin

  }
 

.links{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: purple;
text-align: center;
list-style-type: square;
background: white;
padding: 8px;
margin-bottom: 16px;
}

.odin {margin: 8px;
padding 8px; 
border: 8px;
color: blueviolet;}


