#page {
    
    text-align: center;
 }

 div {
    width: 300px;
    border: 10px solid black;
    padding: 200px;
    margin: 20px;
  }
  
  h1 {
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;

  }
 

.links{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: purple;
text-align: center;
list-style-type: square}

