


 h1 {
  background-color: seagreen;
  color: white;
  font-size: 64px;
  font-weight: 800;
  text-align: center;}

  h2 {
    background-color: seagreen;
    color: white;
    text-align: center;
    font-size: 42px;
}
h3 {
    font-weight: 800;
    color: black;
    text-align: center;
    font-size: 28px;}

  img {
    height: 400px;
    width: 400px;
    display:table;
  margin: 0 auto;

    
}

.links { 
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: black;
text-align: center;
list-style-type: square;
background: white;
padding: 8px;
margin-bottom: 16px;
}

.odin {margin: 8px;
padding: 8px; 
border: 8px;
color: black ;}
ul { 
  font-family: Arial, Helvetica, sans-serif;

  margin: 8px;
  padding: 8px;
  display: table;
  margin: 0 auto;
  list-style-type: none;
}
ol {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 8px;
  padding: 8px;
  border-color: black;
  display: table;
  margin: 0 auto;

}
p {
  text-align: center;
}
button {
  font-size: 28px;
  color: white;
  background-color: seagreen ;
  display:table;
  margin: 0 auto;
  text-decoration: none
  ;
  list-style-position: inside;
}
.button1:hover{
  background-color: lightcoral;
}